@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.woff2') format('woff2'),
        url('./fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    font-family: 'Playfair Display';
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}
.sidebar {
    padding-top: 5px;
    padding-right: 10px;
    grid-row: span 2;   
    padding-left: 10px;
    background: cornflowerblue;
    color: antiquewhite;
}
li img, .header img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(31%) saturate(541%) hue-rotate(313deg) brightness(101%) contrast(96%);
}

.menu  {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main   {
    
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
}
.banner {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    grid-template-rows: auto 1fr;
    background-color:antiquewhite;
    color: cornflowerblue;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.banner img {
    filter: invert(61%) sepia(31%) saturate(1512%) hue-rotate(196deg) brightness(97%) contrast(94%);
}
.magnifying, .bell, .home, .profile, .message, .history, .tasks, .communities, .settings, .support, .privacy {
    width: 20px;
    aspect-ratio: 1;
}
.goobie, .blub , .goat {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.nav > li, .tools > li {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.projectsheader {
    color: antiquewhite;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
}
.header,  .projectsheader, .announceheader, .trendingheader {
    font-style: italic;
}
.search {
    background-color: antiquewhite;
    border-radius: 10px;
}
.header {
    display: flex;
    align-items: center;
}
.header img {
    width: 30px;
    aspect-ratio: 1;
}

.row1 {
    padding-top: 15px;
    grid-column: span 2;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.searchapparatus {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.rightcontent {
    display: grid;
    justify-content: flex-end;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
    white-space: nowrap;
}
.bell, .profilepic, .account {
    min-width: 0;
}
.row2 {
    display: grid;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
button {
    padding: 10px;
    background-color: cornflowerblue;
    color: antiquewhite;
    border-radius: 20px;
}
.buttons {
    
    gap: 10px;  
}
.dashboard {
   display: grid;
   grid-template-rows: 1fr 3fr 3fr 3fr;
   grid-template-columns: 4fr 1fr;
   
   background-color: darksalmon;
}
.cards {
    display: grid;
    padding-right: 10px;
    padding-left: 10px;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-row: 2 / -1;
    gap: 10px;
    padding-bottom: 35px;
}
.card {
    border: 2.5px solid brown;
    box-shadow: 0 2px 5px peachpuff;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
}

.projects {
    display: grid;
    grid-template-rows: subgrid;
    
    grid-row: span 4;
}
.trendannounce {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03); 
    display: grid;
    grid-template-row: subgrid;
    grid-row: span 4;
}
.announcements, .trending {
    display: grid;
    
    background: antiquewhite;
    color: cornflowerblue;
    padding-left: 10px;
}
.card {
    background-color: antiquewhite;
    color: cornflowerblue;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.blah1, .blah2, .profile1, .profile2 {
    border-bottom: 1px solid brown;
    line-height: 1.5;
}
.blah2, .blah3, .profile2, .profile3 {
    padding-top: 5px;
    line-height: 1.5;
}
.profile1, .profile2, .profile3 {
    display: flex;
    align-items: center;
    gap: 10px;
}
p, .crddescription {
    padding-top: 2.5px;
    font-size: 10px;
}
.card > .crddescription {
    font-size: 15px;
    font-weight: normal;
}
.subgoat, .subblub, .subgreeting {
    display: flex;
    flex-direction: column;
}
.bigpic {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: none !important;
}
.smallpic {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: none !important;
}
.greeting {
    display: flex;
    align-items: center;
    gap: 10px;
}
.greetdetail {
    font-size: 20px;
}