@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.woff2') format('woff2'),
        url('./fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    font-family: 'Playfair Display';
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}
.sidebar {
    border: 5px solid purple;
    grid-row: span 2;   
    padding-left: 10px;
}
.menu li {
    list-style-type: none;
}
.menu  {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main   {
    display: grid;
    border: 5px solid red;
    grid-template-rows: subgrid;
    grid-row: span 2;
}
.banner {
    border: 5px solid blue;
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
}
.magnifying, .bell, .home, .account, .message, .history, .tasks, .communities, .settings, .support, .privacy {
    width: 20px;
    aspect-ratio: 1;
}

.row1 {
    grid-column: span 2;
    border: 5px solid pink;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.searchapparatus {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.rightcontent {
    display: grid;
    justify-content: flex-end;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    min-width: 0;
    min-height: 0;
}
.row2 {
    display: grid;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    border: 5px solid navajowhite;
}
button {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 20px;
}
.buttons {
    border: 5px solid indianred;
    gap: 10px;  
}
.dashboard {
   display: grid;
   grid-template-rows: 1fr 3fr 3fr 3fr;
   grid-template-columns: 4fr 1fr;
   border: 5px solid coral;
}
.cards {
    display: grid;
    border: 5px solid chartreuse;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-row: 2 / -1;
    gap: 10px;
}
.card {
    border: 5px solid brown;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03); 
}
.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.projects {
    display: grid;
    grid-template-rows: subgrid;
    border: 5px solid cornflowerblue;
    grid-row: span 4;
}
.trendannounce {
    display: grid;
    grid-template-row: subgrid;
    grid-row: span 4;
    border: 5px solid crimson;
}
.announcements, .trending {
    display: grid;
    border: 5px solid palevioletred;
}